 <nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>

  <h1 style="color:white; text-align: center;" class="mt-4">Transaction History</h1>
  <table >
    <thead>
        <tr>
            <th>Type</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of transaction">
            <td>{{t.type}}</td>
            <td>{{t.amount}}</td>
        </tr>
        
    </tbody>
  </table>
  <div class="a1">
  <a routerLink="/dashboard"  style="margin-left:680px;">Home</a>
</div>
